.canvas {
}

.game {
	position: relative;
	width: 352px;
	height: 198px;
	outline: 1px solid #fff;
	margin: 20px auto;
	transform: scale(2.5) translateY(35%);
}

.game {
	.canvas {
		image-rendering: pixelated;
	}
}
